* {
  font-family: 'Hind Siliguri', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

.jumbotron img {
  width: 100%;
  border-bottom: 5px solid rgb(19,126,212);
  margin: 0;
  padding: 0;
}

.row .col-md{
  margin-left: auto;
  margin-top: 15px;
}

.col h1 {
  margin-top: 15px;
}

span {
  color: rgb(19,126,212);
  font-size: 16px;
}

.btn {
  margin-top: 5px;
}

#keranjang {
  background-color: rgb(19,126,212);
  color: white;
  width: 100%;
  margin: 0;
  border-radius: 8px;
}

#produk .card {
  padding: 8px;
}

footer p {
  font-family: verdana;
  opacity: 0.6;
}

.modal .modal-body p {
  font-family: arial;
  font-weight: 320;
  font-size: 12px;
  text-align: left;
}

.jumbotron img {
  margin-top: 45px;
}

.card p {
  font-size: 14px;
}

.card img {
  height: 8.5rem!important;
  width: 12.5rem!important;
  margin: auto;
}

.modal img {
  height: 14.5rem!important;
  width: 18.5rem!important;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .navbar-brand {
    margin-left: 15px;
  }
  .row .col-md {
    margin-left: 0;
  }
  .jumbotron img {
  margin-top: -80px;
  }
  .card img {
    height: 11.5rem!important;
    width: 16.5rem!important;
  }
}
